h3, h4 {
    font-size: 30px;
    font-weight: 600;
}
h1{
    font-size: 45px;
    color: blue;
    font-weight:bolder;
    text-align: center;

}
h2{ 
    font-size: 40px;
    color: blue;
    font-weight: bold;
    text-align: center;
    text-decoration: underline
}

.emphasizedText{
    font-weight: bolder;
    color: blueviolet;
}
ul { 
    text-align:center; 
    list-style-position:inside; 
}
ol{
    text-align:center; 
    list-style-position:inside;
}

.header{
    height: 20px;
    background-color: white;
    color:gray;
    line-height: 100;
    text-align: center;
}
.body{
    background-color: azure;
    right:5px;
    left:5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.common{
    text-alight: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.bodytwo{
    background-color: white;
    right:5px;
    left:5px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px; 
    text-decoration: wavy;
}

.footer{
    height: 25px;
    font-size:20px;
    padding-top: 15px;
    background-color: white;
    color:gray;
    bottom:0px;
    right:5px;
    left:5px;
    text-align: left;
}

nav{
    background-color: gray;
    padding:10px;
    overflow: hidden;
    
}
nav a:hover{
    background-color: bisque;
}

nav a {
    float:right;
    color:#333;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}